@page
@model MascotaFeliz.App.Frontend.Pages.ConsultaVeterinariosModel
@{
    ViewData["Title"] = "Consulta Veterinarios";
}

<div class="contenido">

    <div class="title-container">
        <h1>Consultar Veterinario</h1>
    </div> 
    <hr>
    <div class="form-container">
        <form method="get">
            <div class="details-box">

                <div class="id-box-1">
                    <span class="details">Buscar Veterinario:</span>
                    <input list="veterinarios" type="text" asp-for="searchTerm" placeholder="Ingrese el Nombre o la Cédula del veterinario que desea consultar">
                    @if (Model.listaVeterinarios != null)
                    {
                        <datalist id="veterinarios">
                        @foreach (var veterinario in Model.listaVeterinarios)
                        {
                                <option value="@veterinario.Cedula">@veterinario.Nombres @veterinario.Apellidos</option>
                        }
                        </datalist>
                    }

                    <button type="submit" class="btn" style="display: none;">Search</button>
                    
                </div>

            </div>
        </form>
    </div>

    <hr>
        <div class="button-box">
            <a type="button" asp-page="/Index"><i class="arrow-left"></i>Regresar</a>
            <a type="button" asp-page="/Veterinarios/EditarVeterinario">Añadir Nuevo Veterinario<i class="arrow-right"></i></a>
        </div>
        
    <hr>

    <div class="form-container">
        <div class="results-list">
            @if (Model.listaVeterinariosFiltrados != null)
            {
                @foreach (var veterinario in Model.listaVeterinariosFiltrados)
                {
                    <div class="data-box">
                        <input type="checkbox" id="@veterinario.Id">
                        <label for="@veterinario.Id" class="profile-button">
                            <img class="profile-photo" src="~/Imagenes/P-Persona.png" alt="Foto de perfil de @veterinario.Nombres @veterinario.Apellidos">
                            <div class="button-div">
                                <p class="button-title">@veterinario.Nombres @veterinario.Apellidos</p>
                                <p class="button-subtitle">C.C.: @veterinario.Cedula</p>
                            </div>
                            <i class="arrow-down-1"></i>
                        </label>                    
                        <div class="profile-content">
                

                            <div class="profile-box">
        
                                <div class="info-box">
                                    <h3>Información básica</h3>

                                    <div class="trait-box">
                                        <span class="info-title">Nombre</span>
                                        <span class="info-text">@veterinario.Nombres</span>
                                    </div>  

                                    <div class="trait-box">
                                        <span class="info-title">Apellidos</span>
                                        <span class="info-text">@veterinario.Apellidos</span>
                                    </div>

                                    <div class="trait-box">
                                        <span class="info-title">ID</span>
                                        <span class="info-text">@veterinario.Id</span>
                                    </div> 

                                    <div class="trait-box">
                                        <span class="info-title">Cédula</span>
                                        <span class="info-text">@veterinario.Cedula</span>
                                    </div>

                                    <div class="trait-box">
                                        <span class="info-title">Tarjeta profesional</span>
                                        <span class="info-text">@veterinario.TarjetaProfesional</span>
                                    </div>

                                </div>
                                
                                <div class="info-box">

                                    <h3>Información de contacto</h3>

                                    <div class="trait-box">
                                        <span class="info-title">Dirección</span>
                                        <span class="info-text">@veterinario.Direccion</span>
                                    </div>

                                    <div class="trait-box">
                                        <span class="info-title">Teléfono</span>
                                        <span class="info-text">@veterinario.Telefono</span>
                                    </div>

                                </div>

                                <div class="action-box">
                                    
                                    <a asp-page="/Veterinarios/EditarVeterinario" asp-route-veterinarioId="@veterinario.Id">Actualizar Datos</a>
                                    <a asp-page="/Mascotas/ConsultaMascotas" asp-route-searchVeterinario="@@veterinario.Nombres @veterinario.Apellidos">Ver Mascotas</a>
        
                                </div>

                            </div>
                            
                        </div>
                    </div>
                }
            }


            @if (Model.listaVeterinariosFiltrados.Any() == false)
            {
                <div class="empty-box">
                    <h2>Lo sentimos.</h2>
                    <h3>No se encontró ningún resultado que coincida con esta búsqueda.</h3>
                </div>
            }
            
        </div>
    </div>
</div>
