@page
@model MascotaFeliz.App.Frontend.Pages.EditarVeterinarioModel
@{
    int veterinarioId = Model.veterinario.Id;
    @if (Model.veterinario.Id > 0)
    {
    ViewData["Title"] = "Actualizar Veterinario";
    }
    else
    {
    ViewData["Title"] = "Añandir Nuevo Veterinario";
    }
}

<body>
    <div class="contenido">

        <div class="title-container">
            @if (Model.veterinario.Id > 0)
            {
            <h1>Actualizar Veterinario</h1>
            }
            else
            {
            <h1>Añadir Nuevo Veterinario</h1>
            }
        </div> 
        <p class="sub-text">Los campos marcados con <b>*</b> son obligatorios.</p>
        <hr>
        <div class="form-container">
            <form method="post">

                @if (Model.veterinario != null)
                {
                    <div class="details-box">
                        @if (Model.veterinario.Id > 0)
                        {
                            <div class="input-box">
                                <span class="details">ID*</span>
                                <input type="text" asp-for="veterinario.Id" placeholder="Ingrese su Id" value="@Model.veterinario.Id" required readonly>
                            </div>
                        }
                        else
                        {
                        }
                        
                        <div class="input-box">
                            <span class="details">Nombre*</span>
                            <input type="text" asp-for="veterinario.Nombres" placeholder="Ingrese su nombre" value="@Model.veterinario.Nombres" required>
                        </div>

                        <div class="input-box">
                            <span class="details">Apellidos*</span>
                            <input type="text" asp-for="veterinario.Apellidos" placeholder="Ingrese sus apellidos" value="@Model.veterinario.Apellidos" required>
                        </div>

                        <div class="input-box">
                            <span class="details">Cédula*</span>
                            <input type="text" asp-for="veterinario.Cedula" placeholder="Ingrese su número de cédula" value="@Model.veterinario.Cedula" required>
                        </div>

                        <div class="input-box">
                            <span class="details">Tarjeta Profesional*</span>
                            <input type="text" asp-for="veterinario.TarjetaProfesional" placeholder="Ingrese su número de tarjeta profesional" value="@Model.veterinario.TarjetaProfesional" required>
                        </div>

                        <div class="input-box">
                            <span class="details">Dirección*</span>
                            <input type="text" asp-for="veterinario.Direccion" placeholder="Ingrese la dirección de su domicilio" value="@Model.veterinario.Direccion" required>
                        </div>

                        <div class="input-box">
                            <span class="details">Teléfono*</span>
                            <input type="number" asp-for="veterinario.Telefono" placeholder="Ingrese su número de teléfono" value="@Model.veterinario.Telefono" required>
                        </div>
                        

                    </div>

                    <!--div class="details-box">
                        <div class="upload-box">
                            <span class="details">Sube una foto (Opcional)</span>
                            <input class="uploader" type="file" id="photo" name="Photo" accept="image/*">
                        </div>
                    </div-->

                    <hr>
                    <div class="button-box">
                        <a type="button" asp-page="/Veterinarios/ConsultaVeterinarios" asp-route-searchTerm="@Model.veterinario.Cedula"><i class="arrow-left"></i>Regresar</a>
                        <button type="submit" value="Registrar" >Registrar<i class="arrow-right"></i></button>
                    </div>
                }

                @if (Model.veterinario == null)
                {
                    <div class="empty-box">
                        <h2>Lo sentimos.</h2>
                        <h3>No se encontró ningún resultado que coincida con esta búsqueda.</h3>
                    </div>
                }
                
            </form>
        </div>
    </div>
</body>